$primary-color: #dce0ee;
$secondary-color: #eccc3d;
$background-color: #2c2c2c;
$show-home-image: true;
$home-image: url(../img/background.jpg);
$background-opacity: 0.7;

@mixin ease-out {
    transition: all 0.5s ease-out;
}

@mixin background {
    @if $show-home-image {
        &#bg-img {
            background: $home-image;
            background-attachment: fixed;
            background-size: cover;

            &::after {
                content:'';
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;
                background: rgba($background-color, $background-opacity);
                z-index: -1;
            }
        }
    }
}