// Menu Button

.menu-btn {
    position: absolute;
    z-index: 3;
    right: 30px;
    top: 30px;
    cursor: pointer;
    @include ease-out;

    .btn-line {
        width: 32px;
        height: 4px;
        margin: 0 0 5px 0;
        background: #fff;
        @include ease-out;
    }

    // Rotate into X with menu lines
    &.close {
        transform: rotate(180deg);

        .btn-line {
            &:nth-child(1) {
                transform: rotate(45deg) translate(7px, 6px);
            }

            &:nth-child(2) {
               opacity: 0;
            }

            &:nth-child(3) {
                transform: rotate(135deg) translate(-6px, 6px);
            }
        }
    }
}